.mainPage {
    background-color: #f4f9e2;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.mainPage nav {
    display: flex;
    justify-content: space-between;
}

.mainPage nav ul {
    padding: 0;
    list-style: none;
    display: flex;
}

.mainPage nav ul li {
    margin-right: 10px;
}

.mainBlock {
    display: flex;
    justify-content: space-between;
}

.cart {
    display: flex;
}

.h5 {
    width: 250px;
    height: 21px;
    margin-left: 620px;
    /* top: 1882px; */
    font-family: Larsseit;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    color: rgba(34, 53, 111, 0.5);
}

.helpcart {
    position: absolute;
    width: 360px;
    height: 360px;
    left: 0px;
    top: 1927px;
    font-family: Larsseit;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
}

.helcart2 {
    font-family: Larsseit;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    color: #FFFFFF;
    width: 200px;
    height: 54px;
}