.helpCard {
  width: 360px;
  height: 360px;
  background: #ffe2de;
  font-family: Larsseit;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #ffffff;
}

.helpCard hr {
    color: #ffffff;
}